body {
  background-color: black;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.welcome {
  font-size: 40px;
}

.button {
  width: 300px;
  height: 100px;
}

.interview {
  font-size: 25px;
}

.question {

}